doctype html
html(lang = 'en')
    head
        title Browse/Post
        meta(name  = "viewport" content = "width=device-width, initial-scale=1")
        link(rel = "stylesheet" type = "text/css" href = "/styles/nav.css")
        link(rel = "stylesheet" type = "text/css" href = "/styles/main.css")
        link(rel = "stylesheet" type = "text/css" href = "/styles/browse.css")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(src = "https://code.jquery.com/jquery-3.3.1.min.js" integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin = "anonymous")
        script(src = '/scripts/responsive.js')
    body
        div.topnav#Topnav
            a.icon(href = 'javascript:void(0);' onclick = 'checkResponsive()')
                i.fa.fa-bars
            span.title MEME LORD
            a#pages
            a(href = '/home') Home
            a(href = '/kings') Meme Kings
            a.active(href = '/browse') Browse All/Post
            a(href = '/category') Category
        div.leftTitle
            div#centerTxt
                span.normalText Post a Meme:
            hr    
            div.upload-btn-wrapper
                button.btn Upload A Photo
                input(type = 'file' name='myfile')
            br    
            input.postInput#title(type = 'text' name='title' placeholder = 'Title...' maxlength = '50') 
            select.selectInput#category
                    option(value = '' disabled selected) Select A Category
                    option(value = 'Bad Luck Brian') Bad Luck Brian
                    option(value = 'Kermit') Kermit
                    option(value = 'Office') Office
                    option(value = 'Scumbag') Scumbag
                    option(value = 'Delicious') Spicy and Delicious
                    option(value = 'Spongebob') Spongebob
                    option(value = 'Trolling') Trolling
                    option(value = 'Weird Flex') Weird Flex...
                    option(value = 'Wide Neck Guy') Wide Neck Guy
                    option(value = 'Other') Other...
            div.submit-btn-wrapper
                button.submitBtn Post Meme
        
        for meme in memes
            div.memeContainer
                div.header
                    span.memeTitle #{meme.title}                    
                    
                    div.catagoryContainer
                        i.material-icons.category.label label
                        span.category #{meme.category}
                br
                
                div.content
                    div.photo 
                        img(src='/memeUploads/'+meme.imageSrc alt="meme") 
                    div.footer
                        button.thumbButton
                            i.material-icons.thumb thumb_up
                        span #{meme.likes}
                        
                        button.commentButton
                            i.material-icons.comment comment
                            
                        p #{meme.comments}

